# Application
PORT=3000
NODE_ENV=development

# PostgreSQL & Prisma
DATABASE_URL="postgresql://devuser:devpassword@localhost:5432/devdb?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Kafka
KAFKA_BROKERS="localhost:9092"
KAFKA_CLIENT_ID="practice-bun-app"
